<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Ошибка 404</div>
                    <div class="card-body">
                        Такой страницы не существует.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
