<template>
    <v-text-field v-model="value" @input="change"/>
</template>

<script>
    import {simpleField} from "./mixins/simpleField";

    export default {
        mixins: [simpleField],
        methods: {
            change: function (value) {
                this.changeFieldValue(this.field.group_name, this.field.field_name, value, this.index);
            }
        }
    }
</script>
