<template>
    <v-col cols="12"
           align="left"
    >
        <template>
            <v-col cols="12">
                <field-bool v-if="field.field_type_id === 1" :field="field" :index="index"/>
                <field-text v-else-if="field.field_type_id  === 3" :field="field" :index="index"/>
                <field-num-range v-else-if="field.field_type_id  === 5" :field="field" :index="index"/>
            </v-col>
            <v-col cols="12" v-if="field.multiple">
                <v-btn color="error" @click="removeValue(field.group_name, field.field_name, index)">Удалить</v-btn>
            </v-col>
        </template>
    </v-col>
</template>

<script>
    import FieldBool from "./FieldBool";
    import FieldText from "./FieldText";
    import FieldNumRange from "./FieldNumRange";

    export default {
        props: ['field', 'index'],
        inject: ['removeValue'],
        components: {
            FieldBool,
            FieldText,
            FieldNumRange
        }
    }
</script>
