<template>
    <v-checkbox
        v-model="value"
        @click.native="clickAction"
    />
</template>

<script>
    import {simpleField} from "./mixins/simpleField";
    export default {
        mixins: [simpleField],
        methods: {
            clickAction: function (event) {
                this.changeFieldValue(this.field.group_name, this.field.field_name, !this.value, this.index);
            }
        }
    }
</script>
