<template>
    <div>
        <v-row
            v-if="requestStatus === 1"
            align="center"
            justify="center"
        >

            <template v-if = "form">
                <v-col cols="10">
                    <v-col cols="12" align="center"
                           justify="center">
                        <h1 class="mb-2">{{formTitle}}</h1>
                    </v-col>

                    <v-col cols="12" align="center"
                           justify="center">
                        <groups-fields/>
                    </v-col>
                    <v-col cols="12" align="center"
                           justify="center">
                        <v-btn @click="pushForm" color="primary">Сохранить</v-btn>
                    </v-col>
                </v-col>
            </template>
            <template v-else>
                <h2 class="pa-3">Данные не найдены</h2>
            </template>

        </v-row>
        <h1 v-else-if="requestStatus === 2">К сожалению, записей пока нет.</h1>
        <waiter v-else-if="requestStatus === 0"/>
    </div>
</template>

<script>
    import {axiosSimpleRequest} from "../../helpers/general";
    import {form} from "./mixins/form";
    import GroupsFields from "./GroupsFields";
    import Waiter from "../general/Waiter";

    export default {
        mixins: [form],

        created() {
            this.getData();
        },

        components: {
            GroupsFields,
            Waiter
        },

        computed: {
            formTitle() {
                return this.updateMode ?
                    `Редактирование сущности "${this.form.entity_name}" типа "${this.form.entity_type_name}"`
                    :
                    `Создать новый материал типа "${this.form.entity_type_name}"`
            },
            createMode() {
                return this.entityId === -1 ? true : false
            },
            updateMode() {
                return this.entityId === -1 ? false : true
            },
        },

        methods: {
            getData() {
                this.requestStatus = 0;
                let url, actionFunction;
                if (this.createMode) {
                    actionFunction = ($this, result) => {
                        $this.form = result.data.form;
                        $this.originalForm = {...result.data.form};
                        if ($this.form === null) $this.requestStatus = 2;
                    };
                    url = 'fields';
                } else {
                    actionFunction = ($this, result) => {
                        $this.form = result.data.form;
                        if ($this.form === null) $this.requestStatus = 2;
                    };
                    url = `entity`;
                }
                axiosSimpleRequest(this, url, actionFunction);
            },
            pushForm() {
                this.requestStatus = 0;
                let url;
                if (this.createMode) url = 'create'; else url = `update`;
                axiosSimpleRequest(this, url, ($this, result) => {
                    alert('Сохранение прошло успешно!');
                    if ($this.createMode) $this.form = {...$this.originalForm};
                    $this.requestStatus = 1;
                    if ($this.form === null) $this.requestStatus = 2;
                }, {form: this.form});
            }
        }
    }
</script>
