<template>
    <v-col>
        <v-col cols="12" v-for="(fields, fieldGroupName) in fieldsGroups" :key="fieldGroupName" class="ma-3"
               v-if="Object.keys(fields).length > 0">
            <v-sheet elevation="12" class="pa-4">
                <v-chip-group
                    column
                    active-class="primary--text"
                >
                    <h2 class="mb-5">Группа полей "{{ fieldGroupName }}"</h2>
                    <v-col cols="12" v-for="field in fields" :key="field.field_id" class="ma-3">
                        <v-sheet elevation="10" class="pa-4">
                            <v-chip-group
                                column
                                active-class="primary--text"
                            >
                                <h3>Поле "{{ field.field_name }}"</h3>

                                <multi-field v-if="field.multiple" :field="field"/>
                                <sungle-field v-else :field="field"/>
                            </v-chip-group>
                        </v-sheet>
                    </v-col>
                </v-chip-group>
            </v-sheet>
        </v-col>
    </v-col>
</template>

<script>
    import MultiField from "./MultiField";
    import SungleField from "./SungleField";

    export default {
        inject: ["getForm", "groupWithNonEmptyFields"],
        computed: {
            fieldsGroups() {
                return this.getForm().fieldsGroups;
            }
        },
        components: {
            MultiField,
            SungleField
        }
    }
</script>
