<template>
    <v-col cols="12">
        <v-col cols="12">
            <v-btn @click="addValue(field.group_name, field.field_name)">Добавить ещё</v-btn>
        </v-col>
        <v-col cols="12">
            <template v-for="(value, index) in field.values">
                <v-sheet
                    v-if = "field.values[index].delete === false"
                    class="ma-3"
                    color="lighten-3"
                    elevation="12"
                >
                    <field-type-qualifier :field="field" :index="index"/>
                </v-sheet>
            </template>
        </v-col>
    </v-col>
</template>

<script>
    import FieldTypeQualifier from "./FieldTypeQualifier";

    export default {
        props: ['field'],
        inject: ['addValue'],
        components: {
            FieldTypeQualifier
        }
    }
</script>
