<template>
    <v-col>
        <template v-if="requestStatus == 1">
            <template v-if="form">
                <h1>{{ form.entity_type_name }} {{ form.entity_name }}</h1>
                <v-col
                    cols="12"
                    v-for="(fields, fieldGroupName) in form.fieldsGroups"
                    :key="fieldGroupName" class="ma-3"
                >
                    <v-sheet elevation="12" class="pa-4" v-if="groupWithNonEmptyFields(fieldGroupName)">
                        <v-chip-group
                            column
                            active-class="primary--text"
                        >
                            <h2 class="mb-5">{{ fieldGroupName }}</h2>
                            <v-col cols="12" v-for="field in fields" :key="field.field_id" class="ma-3">
                                <v-sheet v-if="field.values.length > 0" elevation="10" class="pa-4">
                                    <v-chip-group
                                        column
                                        active-class="primary--text"
                                    >
                                        <h4 class="mb-5">{{ field.field_name}}</h4>
                                        <v-col cols="12" v-for="(value, index) in field.values" :key="index" class="ma-3">
                                            {{ value.value }}
                                        </v-col>
                                    </v-chip-group>
                                </v-sheet>
                            </v-col>
                        </v-chip-group>
                    </v-sheet>
                </v-col>
            </template>
            <template v-else>
                <h1>Сущность не найдена</h1>
            </template>
        </template>
        <waiter v-else-if="requestStatus == 0"/>
    </v-col>
</template>

<script>
    import {axiosSimpleRequest} from "../../helpers/general";
    import {form} from "./mixins/form";

    import Waiter from "../general/Waiter";

    export default {
        mixins: [form],

        created() {
            this.getData();
        },

        components: {
            Waiter
        },

        computed: {
            title() {

            }
        },

        methods: {
            getData() {
                this.requestStatus = 0;
                axiosSimpleRequest(this, this.$route.params.id + `/entity`, ($this, result) => {
                    $this.form = result.data.form;
                    if ($this.form === null) $this.requestStatus = 2;
                });
            }
        }
    }
</script>
