<template>
    <field-type-qualifier :field="field" :index = "0"/>
</template>

<script>
    import FieldTypeQualifier from "./FieldTypeQualifier";

    export default {
        props: ['field'],
        components: {
            FieldTypeQualifier
        }
    }
</script>
