<template>
    <div>
        <v-data-table
            :sort-by="['id']"
            :sort-desc="[true]"
            :headers="headers"
            :items="entities"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            hide-default-footer
            class="elevation-1"
            :page-count="pageCount"
            :loading="loading"
        >
            <template v-slot:top>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Поставщики</v-toolbar-title>
                    <v-btn small color="primary" @click="create">Добавить новое</v-btn>
                    <v-divider
                        class="mx-4"
                        inset
                        vertical
                    ></v-divider>
                    <v-spacer></v-spacer>
                </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon
                    small
                    class="mr-2"
                    @click="viewItem(item)"
                >
                    mdi-eye-outline
                </v-icon>
                <v-icon
                    small
                    class="mr-2"
                    @click="editItem(item)"
                >
                    mdi-pencil
                </v-icon>
                <v-icon
                    small
                    class="mr-2"
                    @click="removeItem(item)"
                >
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <v-alert type="info">
                    <h2 class="p-1">Записей пока нет</h2>
                </v-alert>
                <v-btn color="primary" @click="initialize">Обновить</v-btn>
            </template>
            <template v-slot:footer>
                <div class="text-center pt-2">
                    <v-pagination v-model="page" :length="pageCount" @input="initialize"></v-pagination>
                </div>
            </template>
        </v-data-table>
    </div>
</template>

<script>
    export default {
        data: () => ({
            options: {},
            page: 0,
            pageCount: 0,
            itemsPerPage: 0,
            requestStatus: 0,
            headers: [
                {text: 'Название', value: 'name'},
                {text: 'Действия', value: 'actions', sortable: false},
            ],
            entities: []
        }),

        computed: {
            loading() {
                return !Boolean(this.requestStatus);
            }
        },

        created() {
            this.initialize();
        },

        methods: {
            request(url, data = null, updateState = true) {
                this.requestStatus = 0;
                let $this = this;
                axios.post(url, data)
                    .then(result => {
                        $this.requestStatus = 1;
                        if (updateState) {
                            $this.entities = result.data.data;
                            $this.page = result.data.current_page;
                            $this.pageCount = result.data.last_page;
                            $this.itemsPerPage = result.data.per_page;
                        }
                    })
                    .catch(errors => {
                        $this.requestStatus = 1;
                        if (errors.response.data.errors) {
                            let str = '';
                            for (let field in errors.response.data.errors) {
                                errors.response.data.errors[field].forEach((error) => {
                                    str += error + '\n';
                                });
                            }
                            alert(str);
                        } else alert('Ошибка сервера! Перезагрузите страницу.');
                    })
            },

            initialize(page = 1) {
                this.request('', {page});
            },

            create(item) {
                this.$router.push({name: 'create-provider'});
            },

            viewItem(item) {
                this.$router.push({name: 'provider', params: {id: item.id}});
            },

            editItem(item) {
                this.$router.push({name: 'edit-provider', params: {id: item.id}});
            },

            removeItem(item) {
                const index = this.fields.indexOf(item);
                if (confirm('Уверены, что хотите удалить?')) {
                    this.fields.splice(index, 1);
                    this.request(`providers/${item.id}/delete`);
                }
            },
        },
    }
</script>
