<template>
    <form-entity :entity-id="id"/>
</template>

<script>
    import Form from "../../entity-form/Form";
    export default {
        components: {
            FormEntity: Form
        },
        computed: {
            id() {
                return parseInt(this.$route.params.id);
            },
        },
    }
</script>
