<template>
    <simple-entity-view/>
</template>

<script>
    import SimpleEntityView from "../../entity-form/SimpleEntityView";
    export default {
        components: {
            SimpleEntityView
        }
    }
</script>
