<template>
    <div>
        <v-data-table
            :sort-by="['id']"
            :sort-desc="[true]"
            :headers="headers"
            :items="entityes"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            hide-default-footer
            class="elevation-1"
            :page-count="pageCount"
            :loading="loading"
        >
            <template v-slot:top>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Группы полей</v-toolbar-title>
                    <v-divider
                        class="mx-4"
                        inset
                        vertical
                    ></v-divider>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on }">
                            <v-btn color="primary" dark class="mb-2" v-on="on">Создать</v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12">
                                            <v-text-field v-model="editedItem.name" label="Название"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" v-if='createForm'>
                                            <v-text-field v-model="editedItem.machine_name"
                                                          label="Машинное имя"></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="close">Отменить</v-btn>
                                <v-btn color="blue darken-1" text @click="save">Сохранить</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon
                    small
                    class="mr-2"
                    @click="editItem(item)"
                >
                    mdi-pencil
                </v-icon>
            </template>
            <template v-slot:no-data>
                <v-alert type="info">
                    <h2 class="p-1">Записей пока нет</h2>
                </v-alert>
                <v-btn color="primary" @click="initialize">Обновить</v-btn>
            </template>
            <template v-slot:footer>
                <div class="text-center pt-2">
                    <v-pagination v-model="page" :length="pageCount" @input="initialize"></v-pagination>
                </div>
            </template>
        </v-data-table>
    </div>
</template>

<script>
    function enityTemplate() {
        return {
            name: '',
            machine_name: ''
        };
    }

    export default {
        data: () => ({
            options: {},
            page: 0,
            pageCount: 0,
            itemsPerPage: 0,
            requestStatus: 0,
            dialog: false,
            headers: [
                {text: 'Название', value: 'name'},
                {text: 'Машинное имя', value: 'machine_name'},
                {text: 'Действия', value: 'actions', sortable: false},
            ],
            entityes: [],
            editedIndex: -1,
            editedItem: enityTemplate(),
            defaultItem: enityTemplate()
        }),

        computed: {
            loading() {
                return !Boolean(this.requestStatus);
            },
            createForm() {
                return this.editedIndex === -1
            },
            formTitle() {
                return this.createForm ? 'Создание' : 'Редактирование'
            },
        },

        watch: {
            dialog(val) {
                val || this.close()
            },
        },

        created() {
            this.initialize()
        },

        methods: {
            request(url, data = null, updateState = true) {
                this.requestStatus = 0;
                let $this = this;
                axios.post(url, data)
                    .then(result => {
                        $this.requestStatus = 1;
                        if (updateState) {
                            $this.entityes = result.data.data;
                            $this.page = result.data.current_page;
                            $this.pageCount = result.data.last_page;
                            $this.itemsPerPage = result.data.per_page;
                        }
                    })
                    .catch(errors => {
                        $this.requestStatus = 1;
                        if (errors.response.data.errors) {
                            let str = '';
                            for (let field in errors.response.data.errors) {
                                errors.response.data.errors[field].forEach((error) => {
                                    str += error + '\n';
                                });
                            }
                            alert(str);
                        } else alert('Ошибка сервера! Перезагрузите страницу.');
                    })
            },

            initialize(page = 1) {
                this.request('fields-groups', {page});
            },

            editItem(item) {
                this.editedIndex = this.entityes.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.dialog = true;
            },
            close() {
                this.dialog = false;
                this.$nextTick(() => {
                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1;
                })
            },
            save() {
                if (this.editedIndex > -1) {
                    Object.assign(this.entityes[this.editedIndex], this.editedItem);
                    this.request(`fields-groups/${this.editedItem.id}/update`, {name: this.editedItem.name}, false);
                } else {
                    this.request('fields-groups/create', {
                        name: this.editedItem.name,
                        machine_name: this.editedItem.machine_name
                    });
                }
                this.close();
            },
        },
    }
</script>
