<template>
    <div>
        <v-data-table
            :sort-by="['id']"
            :sort-desc="[true]"
            :headers="headers"
            :items="fields"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            hide-default-footer
            class="elevation-1"
            :page-count="pageCount"
            :loading="loading"
        >
            <template v-slot:item.field_type_id="{ item }">
                {{ getFieldType(item.field_type_id) }}
            </template>
            <template v-slot:item.entity_type_id="{ item }">
                {{ getEntityType(item.entity_type_id) }}
            </template>
            <template v-slot:top>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Поля</v-toolbar-title>
                    <v-divider
                        class="mx-4"
                        inset
                        vertical
                    ></v-divider>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on }">
                            <v-btn color="primary" dark class="mb-2" v-on="on">Создать</v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12">
                                            <v-text-field v-model="editedItem.name" label="Название"></v-text-field>
                                        </v-col>

                                        <template v-if="createForm">
                                            <v-col cols="12">
                                                <v-text-field v-model="editedItem.machine_name"
                                                              label="Машинное имя"></v-text-field>
                                            </v-col>
                                            <v-col cols="12">
                                                <label>Тип поля</label>
                                                <v-select
                                                    v-model="editedItem.field_type_id"
                                                    :options="fields_types"
                                                    label="name"
                                                    :reduce="fields_type => fields_type.id"
                                                />
                                            </v-col>
                                        </template>

                                        <template v-if="editedItem.field_type_id === 5 && editedItem.num_range">
                                            <v-text-field v-model="editedItem.num_range.from_value" :value="0"
                                                          label="От"></v-text-field>
                                            <v-text-field v-model="editedItem.num_range.to_value" :value="10"
                                                          label="До"></v-text-field>
                                        </template>

                                        <v-col cols="12">
                                            <label>Группа поля</label>
                                            <v-select
                                                v-model="editedItem.group_id"
                                                :options="fields_groups"
                                                label="name"
                                                :reduce="fields_group => fields_group.id"
                                            />
                                        </v-col>

                                        <template v-if="createForm">
                                            <v-col cols="12">
                                                <label>Тип cущности</label>
                                                <v-select
                                                    v-model="editedItem.entity_type_id"
                                                    :options="entities_types"
                                                    label="name"
                                                    :reduce="entities_type => entities_type.id"
                                                />
                                            </v-col>

                                            <v-col cols="12" v-if = "editedItem.field_type_id != 1">
                                                <v-checkbox
                                                    v-model="editedItem.multiple"
                                                    label="Поле с множеством значений"
                                                ></v-checkbox>
                                            </v-col>
                                        </template>
                                    </v-row>
                                </v-container>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="close">Отменить</v-btn>
                                <v-btn color="blue darken-1" text @click="save">Сохранить</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon
                    small
                    class="mr-2"
                    @click="editItem(item)"
                >
                    mdi-pencil
                </v-icon>
                <v-icon
                    small
                    class="mr-2"
                    @click="removeItem(item)"
                >
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <v-alert type="info">
                    <h2 class="p-1">Записей пока нет</h2>
                </v-alert>
                <v-btn color="primary" @click="initialize">Обновить</v-btn>
            </template>
            <template v-slot:footer>
                <div class="text-center pt-2">
                    <v-pagination v-model="page" :length="pageCount" @input="initialize"></v-pagination>
                </div>
            </template>
        </v-data-table>
    </div>
</template>

<script>
    function enityTemplate() {
        return {
            name: '',
            machine_name: '',
            field_type_id: 1,
            entity_type_id: 1,
            group_id: 0,
            multiple: false,

            num_range: {
                from_value: 0,
                to_value: 10,
            }
        };
    }

    export default {
        data: () => ({
            options: {},
            page: 0,
            pageCount: 0,
            itemsPerPage: 0,
            requestStatus: 0,
            dialog: false,
            headers: [
                {text: 'Название', value: 'name'},
                {text: 'Тип поля', value: 'field_type_id'},
                {text: 'Тип сущности', value: 'entity_type_id'},
                {text: 'Действия', value: 'actions', sortable: false},
            ],
            fields: [],
            entities_types: {},
            fields_groups: [],
            fields_types: [],
            editedIndex: -1,
            editedItem: enityTemplate(),
            defaultItem: enityTemplate()
        }),

        computed: {
            loading() {
                return !Boolean(this.requestStatus);
            },
            createForm() {
                return this.editedIndex === -1
            },
            formTitle() {
                return this.createForm ? 'Создание' : 'Редактирование'
            }
        },

        watch: {
            dialog(val) {
                val || this.close()
            },
        },

        created() {
            this.initialize()
        },

        methods: {
            request(url, data = null, updateState = true) {
                this.requestStatus = 0;
                let $this = this;
                axios.post(url, data)
                    .then(result => {
                        $this.requestStatus = 1;
                        if (updateState) {
                            $this.fields = [...result.data.fields.data];
                            $this.entities_types = [...result.data.entities_types];
                            $this.fields_groups = [...result.data.fields_groups];
                            $this.fields_types = [...result.data.fields_types];
                            $this.page = result.data.fields.current_page;
                            $this.pageCount = result.data.fields.last_page;
                            $this.itemsPerPage = result.data.fields.per_page;
                        }
                    })
                    .catch(errors => {
                        $this.requestStatus = 1;
                        if (errors.response.data.errors) {
                            let str = '';
                            for (let field in errors.response.data.errors) {
                                errors.response.data.errors[field].forEach((error) => {
                                    str += error + '\n';
                                });
                            }
                            alert(str);
                        } else alert('Ошибка сервера! Перезагрузите страницу.');
                    })
            },

            getFieldName(id, propertyName) {
                let val = null, obj = this[propertyName].find(obj => {
                    return obj.id === id
                });
                if (obj) val = obj.name;
                return val;
            },

            getFieldType(id) {
                return this.getFieldName(id, 'fields_types');
            },

            getEntityType(id) {
                return this.getFieldName(id, 'entities_types');
            },

            initialize(page = 1) {
                this.request('fields', {page});
            },

            removeItem(item) {
                const index = this.fields.indexOf(item);
                if (confirm('Уверены, что хотите удалить?')) {
                    this.fields.splice(index, 1);
                    this.request(`fields/${item.id}/delete`);
                }
            },
            editItem(item) {
                this.editedIndex = this.fields.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.dialog = true;
            },
            close() {
                this.dialog = false;
                this.$nextTick(() => {
                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1;
                })
            },
            save() {
                let data = {
                    name: this.editedItem.name,
                    group_id: this.editedItem.group_id
                };

                if (this.editedItem.field_type_id === 5) {
                    data.from_value = this.editedItem.num_range.from_value;
                    data.to_value = this.editedItem.num_range.to_value;
                }

                if (this.editedIndex > -1) {
                    Object.assign(this.fields[this.editedIndex], this.editedItem);
                    this.request(`fields/${this.editedItem.id}/update`, data, false);
                } else {
                    data.machine_name = this.editedItem.machine_name;
                    data.field_type_id = this.editedItem.field_type_id;
                    data.entity_type_id = this.editedItem.entity_type_id;
                    if (this.editedItem.multiple) data.multiple = true;

                    this.request('fields/create', data);
                }

                this.close();
            },
        },
    }
</script>
