<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an example component.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted: function () {
            // let $this = this;
            // axios.post('/auth')
            //     .then(result => {
            //         $this.$store.commit('AUTH', result.data);
            //         $this.requestStatus = 1;
            //     })
            //     .catch(errors => {
            //         $this.errors = errors;
            //         $this.requestStatus = 2;
            //     })
        },
    }
</script>
